<!DOCTYPE html>

<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/gh/n5ro/aframe-physics-system@v$npm_package_version/dist/aframe-physics-system.min.js"></script> -->
    <!-- <script src="https://unpkg.com/aframe-event-set-component@4.0.1/dist/aframe-event-set-component.min.js"></script> -->
    <!-- <script src="https://unpkg.com/super-hands@^3.0.1/dist/super-hands.min.js"></script> -->

   <script defer src={Routes.static_path(@conn, "/js/aframe.js")}></script>
</head>

<body>
    <a-scene>
        <a-assets>
            <img id="boxTexture" src="https://i.imgur.com/mYmmbrp.jpg">
            <canvas id="cam2"></canvas>
        </a-assets>

        <!-- axis visualisation.. testing.. -->
        <a-entity position="0 -1 0">
            <a-entity id="LINE" line="start: 0 0 0; end: 0 1 0; color: red"></a-entity>
            <a-entity id="LINE" line="start: 0 0 0; end: 1 0 0; color: blue"></a-entity>
            <a-entity id="LINE" line="start: 0 0 0; end: 0 0 -1; color: green"></a-entity>
        </a-entity>
        <a-entity id="POINTER" position="0 5 0" geometry="primitive: plane; width: auto; height: auto" text="wrapCount: 15;value: LOLOLOL; align: center; color: green"></a-entity>

        <!-- default example -->
        <a-box id="TEST" position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9" src="#boxTexture" enterleave
            raycastable></a-box>
        <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E" clicktest raycastable></a-sphere>
        <a-cylinder id="TEST2" position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D" menu-button raycastable></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
        <a-sky color="#ECECEC"></a-sky>


        <!-- camera rig -->
        <a-entity id="cameraRig" movement-controls="fly: true" position="0 0 0" rotation="0 0 0" custom-controls testing>
            <a-entity id="camera" camera position="0 1.6 0" look-controls>
                
            </a-entity>
            <a-entity cursor="rayOrigin:mouse"></a-entity>
            <a-entity id="controllerLeft" laser-controls="hand: left"
                raycaster="lineColor: red; lineOpacity: 0.5; objects: [raycastable]"></a-entity>
            <a-entity id="controllerRight" laser-controls="hand: right"
                raycaster="lineColor: blue; lineOpacity: 0.5; objects: [raycastable]">
                
                <%# <a-box color="red" position="0 0 0"></a-box> %>
                </a-entity>
        </a-entity>

        <!-- menu: add to ui in non vr, attach to controller in vr?.. -->
        <!-- someEl.sceneEl.is('vr-mode') to check.. -->
        <a-entity id="menu" menu geometry="primitive: plane; height: 1; width: 1" visible="true"
            material="shader: flat; color: #ff5733; transparent: true; opacity: 0.5; side: double">

            <a-entity id="menu-nodes" geometry="primitive: plane; height: 0.9; width: 0.45"
                material="shader: flat; color: #ff0000; side: double; transparent: true; opacity: 0.5"
                position="-0.225 0 0.01" raycastable></a-entity>
        <!-- TEST BUTTONS -->
            <a-entity id="testbutton" geometry="primitive: cylinder; height: 0.05; radius: 0.05"
                material="shader: flat; color: #FF0000; transparent: true; opacity: 0.5" rotation="90 0 0"
                position="0.1 0.3 0" menu-button="name: test; args: 1, 2, 3" raycastable>

                <a-text value="test button" rotation="-90 0 0" side="double" scale="0.3 0.3 0.3" position="0.08 0 0">
                </a-text>
            </a-entity>
            <a-entity id="testbutton2" geometry="primitive: cylinder; height: 0.05; radius: 0.05"
            material="shader: flat; color: #00FF00; transparent: true; opacity: 0.5" rotation="90 0 0"
            position="0.1 0.2 0" menu-button="name: testRemove;" raycastable>
            </a-entity>
        <!-- TEST BUTTONS -->

        </a-entity>

        <!-- d3 container -->
        <a-entity id="d3-container" position="5 0 5">
            <a-box id="centerbox" position="0 0 0" width="0.2" height="0.2" depth="0.2" color="yellow"></a-box>
            <a-entity id="d3-nodes"></a-entity>
            <a-entity id="d3-links" position="0 0 0"></a-entity>
            <a-entity id="d3-invisible-links" position="0 0 0"></a-entity>
        </a-entity>

        <!-- overview cam -->
        <a-entity camera="active: false" camrender="cid: cam2; width: 500; height: 500"
            position="5 15 5" rotation="-90 -90 0">
        </a-entity>
        <a-plane id="cam2" canvas-updater visible="true" position="-4 2 0" rotation="0 20 0" width="0.5" height="0.5"
            material="src:#cam2; opacity: .95">
        </a-plane>

    </a-scene>
</body>


