<!DOCTYPE html>

<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/gh/n5ro/aframe-physics-system@v$npm_package_version/dist/aframe-physics-system.min.js"></script> -->
    <!-- <script src="https://unpkg.com/aframe-event-set-component@4.0.1/dist/aframe-event-set-component.min.js"></script> -->
    <!-- <script src="https://unpkg.com/super-hands@^3.0.1/dist/super-hands.min.js"></script> -->

   <script defer src={Routes.static_path(@conn, "/js/aframe.js")}></script>
</head>

<body>
    <a-scene>
        <a-assets>
            <img id="boxTexture" src="https://i.imgur.com/mYmmbrp.jpg">
        </a-assets>

        <!-- axis visualisation.. testing.. -->
        <a-entity id="LINE" line="start: 0 0 0; end: 0 1 0; color: red"></a-entity>
        <a-entity id="LINE" line="start: 0 0 0; end: 1 0 0; color: blue"></a-entity>
        <a-entity id="LINE" line="start: 0 0 0; end: 0 0 -1; color: green"></a-entity>

        <!-- default example -->
        <a-box id="TEST" position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9" src="#boxTexture" enterleave
            raycastable></a-box>
        <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E" clicktest raycastable></a-sphere>
        <a-cylinder id="TEST2" position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D" menu-button></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
        <a-sky color="#ECECEC"></a-sky>


        <!-- camera rig -->
        <a-entity id="cameraRig" movement-controls="fly: true" position="5 10 -10" rotation="-45 180 0" custom-controls testing>
            <a-entity id="camera" camera position="0 1.6 0" look-controls></a-entity>
            <a-entity cursor="rayOrigin:mouse"></a-entity>
            <a-entity id="controllerLeft" hand-controls="hand: left"></a-entity>
            <a-entity id="controllerRight" laser-controls="hand: right"
                raycaster="lineColor: blue; lineOpacity: 0.5; objects: [raycastable]"></a-entity>
        </a-entity>

        <!-- menu: add to ui in non vr, attach to controller in vr?.. -->
        <!-- someEl.sceneEl.is('vr-mode') to check.. -->
        <a-entity id="menu" geometry="primitive: plane; height: 1; width: 1" visible="true"
            material="shader: flat; color: #ff5733; transparent: true; opacity: 0.5; side: double">

            <a-entity id="testbutton" geometry="primitive: cylinder; height: 0.1; radius: 0.15"
                material="shader: flat; color: #FF0000; transparent: true; opacity: 0.5" rotation="90 0 0"
                position="-0.3 0.3 0"
                animation__mouseenter="property: components.material.material.color; type: color; to: blue; startEvents: mouseenter; dur: 50"
                animation__mouseleave="property: components.material.material.color; type: color; to: red; startEvents: mouseleave; dur: 50"
                animation__click="property: scale; from: 1 1 1; to: 1.1 1.1 1.1; startEvents: click; dur: 200; dir: alternate"
                animation__click2="property: scale; from: 1.1 1.1 1.1; to: 1 1 1; startEvents: click; dur: 200; delay: 200">

                <a-text value="test button" rotation="-90 0 0" side="double" scale="0.3 0.3 0.3" position="0.2 0 0">
                </a-text>
            </a-entity>

        </a-entity>

        <!-- d3 container -->
        <a-entity id="d3-container" position="5 0 5">
            <a-box id="centerbox" position="0 0 0" width="0.2" height="0.2" depth="0.2" color="yellow"></a-box>
            <a-entity id="d3-nodes"></a-entity>
            <a-entity id="d3-links" position="0 0 0"></a-entity>
        </a-entity>

    </a-scene>
</body>


