html, body {
    height: 100%;
    margin: 0;
}

g.process circle {
    stroke: black;
  }
  
  g.process.normal circle {
    fill: steelblue;
  }
  
  g.process.supervisor circle {
    fill: blue;
  }
  
  g.process.port circle {
    fill: lightblue;
  }
  
  g.process.dead circle {
    fill: lightgrey;
  }
  
  g.process.msg_traced circle {
    stroke: red;
  }
  
  g.process {
    text.application_label {
      fill: green;
    }
  
    text {
      pointer-events: none;
      font: 7px sans-serif;
    }
  }
  
  
  #graph {
    width:100%;
    height:80%;
    margin:none;
    padding:none;
  
    line.link {
      stroke: #ccc;
    }
  
    path.msg {
      stroke: red;
      fill: none;
      opacity: 1
    }
  
    g.nodebackground {
      polygon.nodebackground {
        opacity: 0.25;
        stroke-opacity: 0.25;
        fill: steelblue;
        stroke: steelblue;
        stroke-dasharray: 10 5;
        stroke-linejoin: round;
      }
  
      text {
        pointer-events: none;
        fill: white;
        font: 90px sans-serif;
      }
    }
  
    g#conversationgroup {
      stroke: black;
  
      rect {
        fill: grey;
        opacity: 0.5;
      }
  
      text {
        stroke: none;
      }
    }
  }
  
  .full {
    height: 100%;
  }
  
  #msg_seq {
    width: 39%;
    height: 100%;
    border-left: 1px solid black;
    display: inline-block;
  
    g.actor text {
        fill: white;
        font-size: 6pt !important;
    }
  
    g.actor line {
      stroke: black;
      stroke-width: 1px;
    }
  
    g.message text {
      font: 8pt monospace !important;
    }
  
    g.message line {
      stroke: white;
      stroke-width: 1.5px;
    }
  
    g.message path {
      stroke: white;
      stroke-width: 1.5px;
    }
  }
  
  #log {
    overflow-y: auto;
    width: 100%;
    height: 20%;
    margin: none;
    padding: 5px;
    border-top: 1px solid black;
  
    .logline {
      font: 12px sans-serif;
  
      &:nth-child(even) {
        background: lightgrey;
      }
  
      img {
        height: 25px;
      }
  
      .pid {
        font-style: italic;
      }
  
      .msg {
        font-family: monospace;
      }
    }
  
  }
  
  #top_left {
    position: absolute;
  }
  
  #legend {
    svg {
      width: 110px;
      height: 100px;
  
      g.process {
        text {
          pointer-events: none;
          font: 10px sans-serif;
        }
      }
    }
  }
  
  #controls {
    button {
      font: 10px sans-serif;
    }
  }
  
  #node_selector {
    padding: 2px;
    border: 1px solid black;
    background: lightgrey;
  
    ul {
      padding-left: 0;
      text-align: center;
      list-style-type: none;
      margin: 0;
  
      li {
        font: 12px sans-serif;
      }
  
      li.selected {
        background: steelblue;
      }
    }
  
    input {
      font: 12px sans-serif;
      width: 110px;
    }
  }
  